#include <windows.h>
#include "resource.h"

IDD_MATRIX_PREFS DIALOGEX 0, 0, 300, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_VISIBLE | DS_CONTROL
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Connection Settings", IDC_STATIC, 7, 7, 286, 95
    
    CONTROL         "Enable Matrix Notifications", IDC_ENABLED, "Button", 
                    BS_AUTOCHECKBOX | WS_TABSTOP, 15, 20, 150, 10
    
    LTEXT           "Homeserver URL:", IDC_STATIC, 15, 35, 70, 8
    EDITTEXT        IDC_HOMESERVER, 90, 33, 195, 14, ES_AUTOHSCROLL | WS_TABSTOP
    
    LTEXT           "Access Token:", IDC_STATIC, 15, 53, 70, 8
    EDITTEXT        IDC_TOKEN, 90, 51, 195, 14, ES_AUTOHSCROLL | ES_PASSWORD | WS_TABSTOP
    
    LTEXT           "Room ID:", IDC_STATIC, 15, 71, 70, 8
    EDITTEXT        IDC_ROOM_ID, 90, 69, 195, 14, ES_AUTOHSCROLL | WS_TABSTOP
    
    GROUPBOX        "Notification Options", IDC_STATIC, 7, 107, 286, 65
    
    CONTROL         "Notify on pause/resume", IDC_NOTIFY_PAUSE, "Button", 
                    BS_AUTOCHECKBOX | WS_TABSTOP, 15, 122, 150, 10
    
    CONTROL         "Notify on stop", IDC_NOTIFY_STOP, "Button", 
                    BS_AUTOCHECKBOX | WS_TABSTOP, 15, 137, 150, 10
    
    LTEXT           "Message Format:", IDC_STATIC, 15, 154, 70, 8
    EDITTEXT        IDC_MESSAGE_FORMAT, 90, 152, 195, 14, ES_AUTOHSCROLL | WS_TABSTOP
    
    PUSHBUTTON      "Test Connection", IDC_TEST_CONNECTION, 115, 180, 80, 14, WS_TABSTOP
    
    LTEXT           "To get your access token: In Element, go to Settings -> Help / About", 
                    IDC_STATIC, 7, 200, 286, 16
END
